<!DOCTYPE html>
<html>

<head>
    <title>Serveranno</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="/build/mirador/mirador.js"></script>
    <script src="https://ncsu-libraries.github.io/annona/latest/annona.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ncsu-libraries.github.io/annona/latest/annona.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="header">
        <%= render 'layouts/menu' %>
    </div>
    <div class="main">
        <%= yield %>
    </div>
</body>

</html>